body{
    background-color: #00b386;
    background-image: url('../../images/pkm_lolo1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
}
ul.ulnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 2, 90);
}
li.linav{
    float:left;
}
li.linav a{
    display: block;
    color:cornflowerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color:darkcyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color: darkgreen;
}
span.subtitle{
    font-size: 10pt;
    color:aqua;
    font-family: Verdana;
}
span.maintitle{
font-size: 20pt;
color:aqua;
font-family: verdana;
}
a.nav{
    font-size: 8pt;
    color:rgb(43, 43, 34);
    font-family: verdana;
    text-decoration: none;
}
a.nav:hover{
    font-size: 8pt;
    color:rgb(182, 182, 4);
    font-family: verdana;
    text-decoration: none;
}
#page_wrapper{
    margin-left:auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid #333333;
    padding: 10px;
    height: 800px;
    width: 800px;
    background: rgb(102, 102, 102,0.85);
}
p.p_content1{
    font-size: 12px;
    color: white;
    font-family: verdana;
    background-color: teal;
    padding: 2px;
    border-radius: 3px;
    border: 2px solid black;
}
span.font1{
    font-size: 20pt;
    color: white;
    font-family: verdana;
    font-weight: bold;
}
span.standout{
    font-size: 12pt;
    color: rgb(170, 23, 23);
    font-family: verdana;
    font-weight: bold;
}
#image1{
    margin-top: 49%;
}
#image2{
    margin-top: 58%;
}
#image3{
    margin-top:43%;
}
#image4{
    margin-top: 55%;
}
#image5{
    margin-top: 49%;
}
#image6{
    margin-top: 56%;
}
#image7{
    margin-top: 57%;
}
#image8{
    margin-top: 59%;
}
#link1{
    font-size: 20;
    color:rgb(0, 17, 250);
    text-decoration: none;
}
#link1:hover{
    font-size: 20;
    color:rgb(0, 20, 119);
}
#video1{
margin-left: 185px;
}
#table2{
    margin-top: 62%;
}
#list1{
    font-size: 12px;
    color: white;
    font-family: verdana;
    background-color: teal;
    padding: 2px;
    border-radius: 3px;
    border: 2px solid black;
}