body{
    background-color: #00b386;
    background-image: url('../../images/pkm_lolo1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
}
ul.ulnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 2, 90);
}
li.linav{
    float:left;
}
li.linav a{
    display: block;
    color:cornflowerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color:darkcyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color: darkgreen;
}
span.subtitle{
    font-size: 10pt;
    color:aqua;
    font-family: Verdana;
}
span.maintitle{
font-size: 20pt;
color:aqua;
font-family: verdana;
}
a.nav{
    font-size: 8pt;
    color:rgb(43, 43, 34);
    font-family: verdana;
    text-decoration: none;
}
a.nav:hover{
    font-size: 8pt;
    color:rgb(182, 182, 4);
    font-family: verdana;
    text-decoration: none;
}